@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    border: 0px;
}
body{
    overflow-x: hidden;
}
.navbar{
    height: auto;
    width: auto;
    background-color: #1d0837f8;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    

}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 25px;
}
.list-item{
    text-decoration: none;
    color: white;
}
.tech{
    color: white;

}
.wave{
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.primary-button{
      background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 12px;
  border-radius: 15px;
    cursor: pointer;
  overflow: hidden;

  transition: transform 0.3s ease;
  animation: gradientMove 4s linear infinite;

}
.button-text{
    color:white;
      position: relative;
  z-index: 5;
    
}
.primary-button-icon{
  align-items: center;
  transition: transform 0.3s ease;
}
.primary-button:hover{
 transform: scale(1.8);
}
.primary-button:hover .primary-button-icon{
  transform: translateX(20px);   
  
}
.primary-button::after{
    .subscribe-btn::after{
  content: "";
  position: relative;
  inset: 2;
  background:indigo;
  filter: blur(20px);
  opacity: 100%;
  transition: opacity 0.3s ease;
}
}


/* banner-section....... */

.banner{

    background-image: url("./B13-A02-TechWave/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 760px;
    width:100%;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;

}
.banner-img{
    background-image: url("./B13-A02-TechWave/assets/hero-circle.png");
        background-size: cover;
    background-position: center;
    height: 360px;
    width:360px;
       display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}
.mic-icon{

    width: 100px;
    height: auto;
    margin-right: 15px;
    margin-left: 5px;
 

}
.banner-heading{
    position: absolute;
    top: 20px;
    right: 20px;

}
.banner-descript{
    justify-content: center;
    align-items: center;
}
.banner-descript h1{
    color: white;
    font-weight: 900;
    font-size:50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.banner-descript p{
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
.banner-button{
 display: flex;
 gap: 20px;
 align-items: center;
 justify-content: center;
 padding-top: 15px;
}
.listen-button{
          background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  border-radius: 15px;
  padding: 5px;
  display: flex;
  gap: 7px;
  
  
}
.listen-text{
    color: white;
    padding: 5px;
   
}
.banner-img h4{
    color: black;
    background-color: #00FF88;
    border-radius: 10px;
    padding: 5px;
    
}
.subscribe-button{
    background-color: #1A0B2E;
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid #00FF88;
}
.subscribe-text{
    color: #00FF88;
}


/* about-section............................. */

.about-section{
   
    background-color: #120326;
    color: white;
    text-align: center;

}
.about-description h1{
    font-weight: bold;
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.about-text-part{
    color: #00FF88;
    font-weight: 900;
    font-size: 48px;
}
.p1-about{
    padding-top: 3px;
    padding-bottom: 20px
}
.p2-about{
    padding-top: 5px;
    padding-bottom: 40px;
}

.about-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-bottom: 80px;
    margin: 0px 20px;

}

/* .choose-section............................. */
.choose-section{
    background-color: #230E3D;
    color: white;
    justify-content: center;
    align-items: center;
    text-align:start;
    padding: 70px;
    
}
.choose-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   grid-auto-rows: minmax(180px, auto);
  gap: 20px;

}
.choose-heading h1{
    text-align: center;
    padding-bottom: 23px;
}
.choose-info{
    background-color: #2D1053;
    border-radius: 20px;
    padding: 8px;
    text-align: start;
    padding: 30px;
    padding-top: 60px;
   
}
.choose-info h2{
    padding: 15px 0px;
}
.wide{
    grid-row: span 2;
}
.tall{
    grid-column: span 2;
}


/* feature-section */

.feature-section{
    background-color: #120326;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 80px 90px;
    

}
.feature-title h1{
text-align: center;
padding-bottom: 10px;
}
.feature-card{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
   
   

}
.feature-card-list{
    overflow: hidden;
    border-radius: 15px;
    background-color: #1e083a;
}
.feature-card-list h2{
    padding: 10px 0px;
}
.feature-card-list p{
    padding-bottom: 10px;
}
.feature-card-list h4{
    padding-bottom: 10px;
}
.feature-min{
    padding:0px 5px;
}
.feature-card-list iframe{
    width: 400px;
    height: 250px;
    border-radius: 12px;
}
/* .video {
      position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
} */
 .video{
    align-items: center;
    justify-content: center;
    text-align: center;
 }



/* host-section................ */
.host-section{
    background-color:#120326 ;
    color: white;
    text-align: center;
    width: 100%;
    height:550px ;
    justify-content: center;
    align-items: center;
}

.host-info{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #250D44;
    margin: 60px;
    padding: 15px;
    text-align: start;
    gap: 15px;
    border-radius: 20px;

}
.host{
    grid-column: span 1;
}
.host-description{
    grid-column: span 4;
    
}
.host-description h2{
    padding: 10px 0px;
}
.host-description p{
    padding-bottom: 10px;
}
.host-img img{
 padding: 0px 10px;
}
/* footer.......... */
footer{
    background-image: url("./B13-A02-TechWave/assets/footer-bg.png");
        background-size: cover;
    background-position: center;
    height: 350px;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
footer h1{
    font-weight:400;
    font-size: 60px;
}
footer p{
    color: white;
}

.footer-img{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 50px;
   text-align: center;
   padding-bottom: 15px;



}
.footer-img-bar{
  
    color: white;
}
.footer-c{
    padding: 35px 0px;
    
}
.footer-title{
    padding: 30px 0px;
}



/* responsive */

@media screen and (max-width:576px){
    .nav-list{
        display: none;
    }
    .button2{
    background-color: #1d0837f8;
    width: 13px;
    }
    .primary-button{
        display:none;
    }
    .about-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.choose-description{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   grid-auto-rows: minmax(180px, auto);
  gap: 20px;

}

.feature-card{
    display: grid;
     grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.host-info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #250D44;
    margin: 60px;
    padding: 15px;
    text-align: center;
    gap: 15px;
    border-radius: 20px;
    

}
.footer-img{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 50px;
   
}

}
@media screen and (min-width:577px) {
     .button2{
   display: none;
    }
}





