*{
    margin: 0px;
    border: 0px;
}
body{
    overflow-x: hidden;
}
.navbar{
    height: auto;
    width: auto;
    background-color: #1A0B2E;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    

}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 25px;
}
.list-item{
    text-decoration: none;
    color: white;
}
.tech{
    color: white;

}
.wave{
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.primary-button{
      background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 8px;
  border-radius: 15px;
}
.button-text{
    color:white;
    
}
.banner{

    background-image: url("./B13-A02-TechWave/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 760px;
    width:100%;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;

}
.banner-img{
    background-image: url("./B13-A02-TechWave/assets/hero-circle.png");
        background-size: cover;
    background-position: center;
    height: 360px;
    width:360px;
       display: flex;
  align-items: center;
  justify-content: center;
  
}
.mic-icon{

    width: 100px;
    height: auto;

}
.banner-descript{
    justify-content: center;
    align-items: center;
}
.banner-descript h1{
    color: white;
    font-weight: 900;
    font-size:50px;
    text-align: center;
}
.banner-descript p{
    color: white;
    font-size: 16px;
    text-align: center;
}
.banner-button{
 display: flex;
 gap: 20px;
 align-items: center;
 justify-content: center;
}
.listen-button{
          background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  border-radius: 15px;
  padding: 5px;
  display: flex;
  gap: 7px;
  
  


  
}
.listen-text{
    color: white;
    padding-top: 3px;
   
}
.subscribe-button{
    background-color: #1A0B2E;
    padding: 3px;
    border-radius: 15px;
    border: 1px solid #00FF88;
}
.subscribe-text{
    color: #00FF88;
}

/* about-section............................. */

.about-section{
   
    background-color: #120326;
    color: white;
    text-align: center;

}
.about-description h1{
    font-weight: bold;
    font-size: 48px;
}
.about-text-part{
    color: #00FF88;
    font-weight: 900;
    font-size: 48px;
}

.about-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

/* .choose-section............................. */
.choose-section{
    background-color: #230E3D;
    color: white;
    justify-content: center;
    align-items: center;
    text-align:start;
    padding: 70px;
    
}
.choose-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   grid-auto-rows: minmax(180px, auto);
  gap: 20px;

    
  
}
.choose-info{
    background-color: #2D1053;
    border-radius: 20px;
    padding: 8px;
    text-align: start
   
}
.wide{
    grid-row: span 2;
}
.tall{
    grid-column: span 2;
}


/* feature-section */

.feature-section{
    background-color: #120326;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
      padding: 80px 90px;
    

}
.feature-title{

}
.feature-card{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

}
.feature-card-list{
    overflow: hidden;
}
.feature-card-list iframe{
    width: 400px;
    height: 250px;
    border-radius: 12px;
}


/* host-section................ */
.host-section{
    background-color:#120326 ;
    color: white;
    text-align: center;
    width: 100%;
    height:400px ;
    justify-content: center;
    align-items: center;
}
.host-info{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #250D44;
    margin: 60px;
    padding: 15px;
    text-align: start;
    gap: 15px;
    border-radius: 20px;


}
.host{
    grid-column: span 1;
}
.host-description{
    grid-column: span 4;
}

/* footer.......... */
footer{
    background-image: url("./B13-A02-TechWave/assets/footer-bg.png");
        background-size: cover;
    background-position: center;
    height: 350px;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}






